<select class="admin__control-select" data-bind="
    attr: {
        name: inputName,
        id: uid,
        disabled: disabled,
        'aria-describedby': noticeId
    },
    hasFocus: focused,
    optgroup: options,
    value: value,
    optionsCaption: caption,
    optionsValue: 'value',
    optionsText: 'label'"
/>

<span class="lvk-font-face-fields" disabled="disabled" data-bind="
    attr: {
        rel: uid,
        afterRender: checkFontFaceFields(value._latestValue, inputName, $element)
    }"
>
    <span><!-- ko i18n: 'Variant' --><!-- /ko -->:</span>
    <select class="lvk-empty" />
    
    <span><!-- ko i18n: 'Size' --><!-- /ko -->:</span>
    <input type="number" value="10" min="1" max="96" />
    <select>
        <option value="px">px</option>
        <option value="pt">pt</option>
        <option value="em">em</option>
    </select>
    
    <div class="lvk-preview"><style type="text/css"></style>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
</span>
