<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <design>
            <body>
                <body_background_src_attachment>0</body_background_src_attachment>
            </body>
            <input>
                <input_style_type_number>1</input_style_type_number>
            </input>
            <sidebar>
                <toggle_titles>1</toggle_titles>
                <hide_product_comparison>1</hide_product_comparison>
            </sidebar>
            <toolbar>
                <show_category_title>0</show_category_title>
                <show_field_limiter>0</show_field_limiter>
                <show_position_in_sorting_options>0</show_position_in_sorting_options>
                <use_compact_sorter>1</use_compact_sorter>
            </toolbar>
        </design>
        <lvk_design>
            <frontend>
                <minify_css>1</minify_css>
            </frontend>
        </lvk_design>
    </default>
</config>
