<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="lvk_design_admin_system_config_changed_section_design">
        <observer name="lvk_googlefonts_observer_lvk_design_admin_system_config_changed_section_design"
                  instance="Lvk\GoogleFonts\Observer\Lvk\Design\Admin\System\Config\Changed\Section\Design" />
    </event>
</config>
