<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="lvk_categorytree"
                 translate="label"
                 sortOrder="111"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Category Tree</label>
            <tab>lvk</tab>
            <resource>Lvk_CategoryTree::config</resource>
            <group id="frontend"
                   translate="label"
                   sortOrder="000"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Frontend</label>
                <field id="block_title"
                       translate="label"
                       type="text"
                       sortOrder="000"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Block title</label>
                </field>
                <field id="tree_root"
                       translate="label"
                       type="select"
                       sortOrder="100"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Root category</label>
                    <source_model>Lvk\CategoryTree\Model\Config\Source\RootOptions</source_model>
                </field>
                <field id="custom_root"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Custom root category</label>
                    <source_model>Lvk\CategoryTree\Model\Config\Source\CategoryOptions</source_model>
                    <depends>
                        <field id="lvk_categorytree/frontend/tree_root">3</field>
                    </depends>
                </field>
                <field id="tree_depth"
                       translate="label"
                       type="select"
                       sortOrder="300"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Tree depth</label>
                    <source_model>Lvk\CategoryTree\Model\Config\Source\DepthOptions</source_model>
                </field>
                <field id="show_empty"
                       translate="label"
                       type="select"
                       sortOrder="400"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show empty categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
