fieldset {
    border-radius: 5px;
    padding: 10px;
}

fieldset legend {
    padding: 0;
}

fieldset .theme-color {
    background-color: transparent;
    display: inline-block;
    margin-bottom: 3px;
    min-width: 148px;
    padding: 25px 0;
    text-align: center;
    width: 19.666%;
}

fieldset button {
    margin-bottom: 3px;
}
