<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lvk_Mobile::menu_documentation_mobile"
             resource="Lvk_Mobile::menu_documentation_mobile"
             title="Mobile Module"
             parent="Lvk_Base::menu_documentation"
             sortOrder="811"
             module="Lvk_Mobile"
             action="lvk_base/documentation/index/module/Mobile" />
    </menu>
</config>
