<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lvk_categorytree>
            <frontend>
                <block_title>Categories</block_title>
                <tree_root>0</tree_root>
                <tree_depth>999</tree_depth>
                <show_empty>0</show_empty>
            </frontend>
        </lvk_categorytree>
    </default>
</config>
