.lvk-sociallinks ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lvk-sociallinks ol li {
    float: left;
}

.lvk-sociallinks ol li a {
    display: inline-block;
    text-align: center;
}

.fa-googleplus-f::before,
.fa-googleplus::before {
    content: "\f0d5";
}
