<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="lvk_design"
               frontName="lvk_design">
            <module name="Lvk_Design"
                    before="Magento_Theme" />
        </route>
    </router>
</config>
