<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framwork/App/etc/routes.xsd">
    <router id="standard">
        <route id="lvk_navigation"
        	   frontName="lvk_navigation">
            <module name="Lvk_Navigation"
                    before="Magento_Theme" />
        </route>
    </router>
</config>
