<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lvk_sociallinks>
            <frontend>
                <link_aspect>icons</link_aspect>
            </frontend>
        </lvk_sociallinks>
    </default>
</config>
