<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <design>
            <mobile>
                <navigation_direction>0</navigation_direction>
                <modal_sidebars>0</modal_sidebars>
            </mobile>
        </design>
    </default>
</config>
