#menu-lvk-base-menu .level-2.item-menu-configuration-navigation > a::before,
#menu-lvk-base-menu .level-2.item-menu-documentation-navigation > a::before {
    background-position: -48px 0;
    left: 16px;
    top: 15px;
}
